/* Add styles here to make the soundboard actually look like a soundboard! */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    background: #827597;
    height: 100vh;
  }
  
  .piano-container {
    display: flex;
    width: 90vw;
    height: 57vh;
    border: 10px solid #050d44;
    border-radius: 1rem;
    margin: 0 auto;
    position: relative;
    padding: 1rem;
    margin-top: 3rem;
  }
  
  .key {
    width: 2.5rem;
    height: 10rem;
    border-radius: 0 0 4px 4px;
    box-shadow: 2px 2px 10px 0px #ccc;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
  }
  
  .whiteKey {
    border: 3px solid #010425;
    background-color: #fff;
    transition: 0.2s all;
  }
  
  .white-active,
  .whiteKey:hover {
    background-color: rgba(81, 182, 178);
    border-bottom: none;
    transform: rotate3d(1, 0, 0, 20deg);
  }
  
  .blackKey {
    background: rgb(36, 32, 30);
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(36, 32, 30, 1) 26%,
      rgba(79, 82, 71, 1) 86%
    );
    height: 7rem;
    width: 1.5rem;
    position: absolute;
    top: 20px;
    transition: 0.2s all;
  }
  
  .black1 {
    left: 46px;
  }
  
  .black2 {
    left: 87px;
  }
  
  .black3 {
    left: 169px;
  }
  
  .black4 {
    left: 210px;
  }
  .black5 {
    left: 251px;
  }
  
  .black6 {
    left: 333px;
  }
  .black7 {
    left: 374px;
  }
  
  .black8 {
    left: 456px;
  }
  
  .black9 {
    left: 497px;
  }
  
  .black10 {
    left: 538px;
  }
  .black11 {
    left: 620px;
  }
  
  .black12 {
    left: 661px;
  }
  
  .black13 {
    left: 743px;
  }
  
  .black14 {
    left: 784px;
  }
  
  .black15 {
    left: 825px;
  }
  
  .blackKey:hover {
    background: linear-gradient(
      180deg,
      rgba(36, 32, 30, 1) 26%,
      rgba(136, 173, 33) 86%
    );
  
    transform: translateY(20px);
  }
  
  .blackKey:active {
    background: linear-gradient(
      180deg,
      rgba(36, 32, 30, 1) 26%,
      rgb(164, 164, 164) 86%
    );
  }